{
  "plugins": [
    "react",
    "react-hooks"
  ],
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:react-hooks/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "no-unused-vars": "warn",
    "react/prop-types": "off",
    "react/display-name": "off"
  }
}